<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>Schedule Manager</title>
        <link rel="stylesheet" href="../static/style-sheet.css">
    </head>

    <body>
        <div class="container">

            <div class="half-container left">
                <p>Prioritize, organize, and simplify tasks.</p>
            </div>

            <div class="half-container right">
                <div class="header">
                    <header id="schedule-builder-header">Schedule Builder</header>
                </div>
                <div class="break"></div>
                <form class="login">
                    <input type="text" class="textbox-default" placeholder="Email" id="email">

                    <div class="break"></div>

                    <input type="text" class="textbox-default" placeholder="Password" id="password">

                    <div class="break"></div>

                    <button class="button-default" id="login">login.</button>
                    <div class="break"></div>
                    <a href="register.html" class="button-default" id="sign-up"><p>sign up.</p></a>
                </form>

            </div>
        </div>
    </body>

</html>
