<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>Schedule Manager</title>
        <link rel="stylesheet" href="../static/style-sheet.css">
    </head>

    <body> 
        <div class="container">
                <div class="task-list">
                    <p class="line"><span>9:30 - 10:00, August 31</span></p>
                    <div class="break"></div>
                    <table>
                        <thead>
                            <tr>
                                <th>High priority</th>
                                <th>Take exam</th>
                            </tr>
                        </thead>

                        <tbody id="task-table"></tbody>

                    </table>
                    <div class="break"></div>
                    <div class="task-button-container">
                        <button class="button-default" id="add-task">Add task</button>
                        <button class="button-default" id="edit-task">Edit task</button>
                    </div>
                    
                </div>
        </div>
    </body>

</html>