@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;1,200&display=swap');

html, body {
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
    height: 100%
}

.container {
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.half-container {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    align-content: center;
    justify-content: center;
    height: 100%
}

.left {
    background-color: black;
    color: white;
}


.header {
    margin: 0;
    padding: 0;
}

#schedule-builder-header {
    font-size: 40px;
    font-style: italic;
    font-weight: lighter;
    color: black;
}

.button-default {
    position: relative;
    height: 40px;
    margin: 0.4rem;
    padding: .7rem;
    color: white;
    text-align: center;
    background-color: black;
    outline: none;
    border: none;
    cursor: pointer;
    border-width: 0;
    border-radius: 0.3rem;
    transition: 0.5s;
}

#sign-up {
    position: relative;
    text-decoration: none;
    font-size: 14px;
    height: 38px;
    margin: 0.4rem;
    padding: 0;
    background-color: white;
    color: black;
    border: 1px solid black;
    text-align: center;
}

a > p {
    margin-top: 0.7rem;
}



.break {
    height: 0;
    flex-basis: 100%;
}

.login {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.login > * {
    flex-grow: 1;
}

.textbox-default {
    position: relative;
    height: 28px;
    margin: 0.4rem;
    background-color: rgb(238, 238, 238);
    outline: none;
    border: none;
    color: black;
    border-width: 0;
    border-radius: 0.3rem;
    padding: 13px;
    transition: 0.5s;
}